/*p {
    color: red;
}*/
/*上のコード一式をルールセット、ルールと呼ぶ。
pはセレクター。HTMLの要素名。pタグを使用された文全てに反映しますよって宣言。
color: red;は宣言。要素のプロパティの内スタイル付けしたいものを指定する。
color:はプロパティ。ルール全体の中で影響を与えたいプロパティを選択。
red;はプロパティ値。プロパティの多くの外観から一つを選択。

セレクターを覗いてルールセットは中括弧{}で囲む。
宣言内ではコロン:を使用してプロパティと値を分離。
ルールセット内でセミコロン;を使用してそれぞれの宣言と次のルールを区切る必要がある。
なので上のコードはその下に次の宣言を記載することが可能。
カンマで区切ると複数のセレクターを同時に宣言が可能。
カンマの後に空白は無くて良さそうだが、あったほうが見やすい。

要素セレクター(タグ、型セレクターと呼ばれることもある)
指定された型のすべてのHTML要素。
例:p
<p>を選択

IDセレクター
指定されたIDを持つページ上の要素。指定されたHTMLページでは各ID値が一緒でないといけない。
そのIDを持ったページ内だけ全て変更
例:#my-id
<p id="my-id">または<a id="my-id">を選択

クラスセレクター
指定されたクラスを持つページ上の要素。同じクラスの複数のインスタンスが一つのページに現れることがある。
同じページ内で使い分けをしたいときに使う
例:my-class
<p class="my-class">または<a class="my-class">を選択

属性セレクター
指定された属性を持つページ上の要素。
例:img[src]
<img src="myimage.png">は選択するが、<img>は選択しない。

疑似クラスセレクター
指定された要素が指定された状態にあるとき。例えばマウスポインターが上に載っている(ホバー)状態。
例:a hover
<a>を、マウスポインターがリンク上にあるときのみ選択。*/

html {
    font-size: 10px; /*pxはピクセル(pixels)。ベースのフォントサイズから10ピクセル上げた。*/
    font-family: "Noto Sans JP", sans-serif;
    /*note sansとsans(ゴシック総称フォント)を指定している。最後に総称フォントを指定しないとOSブラウザごとのデフォルトフォントが適用されるので注意。*/
}

h1 {
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
/*ページ上には三つの領域があり、
padding コンテンツの周囲。文章の周りのスペース
border  paddingのすぐ外側の実戦。
margin  要素の外側の周り。

そしてこれから使うプロパティは
width 要素の(?)
background-color 要素の内容とpaddingの背景色
color 要素のコンテンツ(基本はテキスト)の色
text-shadow 要素内のテキストに影を設定
display 要素の表示モードを設定。(今はまだ触れない)*/

html {
    background-color: #6B6B6B;
}

body {
    width: 600px;
    /*body(黒線がある部分)の幅を設定。*/
    margin: 0 auto;
    /*marginやpaddingなどのプロパティに2の値を設定すると一つ目の値は上下の辺に、
    二番目は左右に影響するので、今回は上下0左右オートになっている。1,2,3,4つの値を使用可能*/
    background-color: azure;
    /*コンテンツがある範囲の背景色を設定*/
    padding: 0 20px 20px 20px;
    /*文章の周りの幅を設定。4つ並べた際には上右下左の時計回りで設定される。*/
    border: 5px solid black;
    /*境界の太さ、スタイル、色の値を設定している。今回はbodyの全側面に5pxの黒ベタ境界線を設定*/
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #6B6B6B;
    text-shadow: 3px 3px 1px black;
    /*影の設定。最初はどれだけ横に行くか。二番目は垂直にどれだけ行くか。三番目はどれくらいぼかすか。最後は色*/
}

/*画像はブロックではなくインライン要素なので、wardの背景画像みたいになってるので
お前ブロック要素(文章内)で動けよ～って指示出して文章と同じ感じで動いてもらわないといけない。
一旦ブロック要素にしてしまえば文章と同じマージンや余白の設定ができるという認識*/
img {
    display: block;
    margin: 0 auto;
}